<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="utilities.ExtentReportManager"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
     <!-- <class name="testCases.VerifyProductqQuantity"/>-->
     <!--  <class name="testCases.LoginBeforeCheckout"/> -->
    <!--   <class name="testCases.ContactUSTestCase"/> -->
    <!--   <class name="testCases.RegisterWhileCheckout"/>-->
    <!--   <class name="testCases.VerifyScrollUpAndDownWithoutArrow"/>-->
    <!--  <class name="testCases.VerifySubscribeHomepage"/>-->
   <!--    <class name="testCases.AddReviewProduct"/>-->
    <!--   <class name="testCases.VerifyProductDetails"/>-->
    <!--   <class name="testCases.RegisterBeforeCheckout"/>-->
    <!--   <class name="testCases.Verifyaddressdetailsincheckoutpage"/>-->
     <!-- <class name="testCases.LoginPageTestCase"/> --> 
      <!--  <class name="testCases.LoginPageTestCaseDataDriven"/>-->
    <!--   <class name="testCases.DownloadInvoice"/>-->
    <!--   <class name="testCases.SearchProduct"/>-->
    <!--   <class name="testCases.AddProductToCart"/>-->
    <!--   <class name="testCases.RemoveProductsFromCart"/>-->
   <!--    <class name="testCases.TestCasesPageTest"/>-->
   <!--   <class name="testCases.SearchProductsandVerifyCartAfterLogin"/>-->
    <!--   <class name="testCases.ViewCategoryProducts"/>-->
    <!--  <class name="testCases.AddtoCartFromRecommendedProducts"/>-->
     <class name="testCases.RegistarionTestCase"/>
    <!--   <class name="testCases.LogoutTestCase"/>-->
    <!--   <class name="testCases.ViewAndCartProducts"/>-->
    <!--   <class name="testCases.ScroolUpUsingArrowButton"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
